
<div class="cube__face cube__face--front"></div>
<div class="cube__face cube__face--right"></div>
<div class="cube__face cube__face--left"></div>
<div class="cube__face cube__face--top"></div>


<!--<div class="scene">-->
<!--  <div class="cube">-->
<!--    <div class="cube__face cube__face&#45;&#45;front">front</div>-->
<!--    <div class="cube__face cube__face&#45;&#45;back">back</div>-->
<!--    <div class="cube__face cube__face&#45;&#45;right">right</div>-->
<!--    <div class="cube__face cube__face&#45;&#45;left">left</div>-->
<!--    <div class="cube__face cube__face&#45;&#45;top">top</div>-->
<!--    <div class="cube__face cube__face&#45;&#45;bottom">bottom</div>-->
<!--  </div>-->
<!--</div>-->
